/* Style the tab */
.tabs {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tabs button {

   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;

   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

/* Change background color of buttons on hover */
.tabs button:hover {
   background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
   background-color: #ccc;
}


/* Style the tab content */
.tabcontent {
   display: block;
   width: 100%;
   height: inherit;
   text-align: center;
}

#families {
    width: 100%;
    height: 100%;
}




/**************************************************************
* Treant.css
***************************************************************/

.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }

/* optional Container STYLES */
.tabContent { height: 600px; margin: 5px; width: 900px; }
.Treant > .node { padding: 3px; border: 1px solid #484848; border-radius: 3px; }
.Treant > .node img { width: 100%; height: 100%; }

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed.active { background-color: #DEF82D; }
.Treant .node.collapsed .collapse-switch { background: none; }

.inactive {
    background-color: black;
    color: black;
}

.new {
    background: green;
    color: white;
}

.outer-content-container {
    width: 100%;
    height: 100%;
    min-width: 1024px;
    background-color: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 150px 30px black;
  }
  
  #inner-content-container {
    width: 90%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 10px;
  }
  
  .container-shadow {
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    overflow: hidden;
  }
  
  .content-container {
    height: 100%;
    padding: 10px 30px;
    color: #222;
  }

/******************************************************************
* perfect-scrollbar.css
*******************************************************************/
.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x:hover {
    opacity: 0.9;
    filter: alpha(opacity = 90);
    cursor:default;
}

.ps-container .ps-scrollbar-x.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y:hover {
    opacity: 0.9;
    filter: alpha(opacity = 90);
    cursor: default;
}

.ps-container .ps-scrollbar-y.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
