.footer {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  padding: 6px 10px;
}

.footer div {
  box-shadow: none;
  background-color: #000000;
}

.footer-text,
.footer-text:visited {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.6;
  font-weight: normal;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer-text:hover {
  opacity: 1;
  color: #FFFFFF;
  text-decoration: none;
}

/**********************************************
Footer Left
**********************************************/
#footer-left {
  float: left;
}

#footer-logo {
  width: 25px;
  height: 25px;
}

/**********************************************
Footer Right
**********************************************/
#footer-right {
    float: right;
}

#counter {
width: 25px;
height: 25px;
display:inline-block;
}
/**********************************************
Social Media Icons
**********************************************/
.footer-social-media-icons {
  display: inline-block;
  margin-right: 5px;
}

.footer-social-media-icons img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.footer-social-media-icons img:hover {
  opacity: 1;
  cursor: pointer;
}

/**********************************************
Snapchat Code Modal
**********************************************/
#snapchat-code-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  padding-top: 20px;
  z-index: 40;
}

#snapchat-code {
  max-width: 325px;
  width: 80%;

  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/**********************************************
Zoom Transition
**********************************************/
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0.3)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.3)}
    to {transform:scale(1)}
}
